@import url('https://fonts.googleapis.com/css?family=Comfortaa');

body {
  font-family: 'Comfortaa', cursive;
}

.title {
  text-align: center;
}


#h1-date {
  font-size: 500%;
  display: inline-block;
  color: #2B303A;
}
