@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

body {
  font-family: 'Cutive Mono', monospace;

  .container {
    display: flex;
    flex-direction: column;
    text-align: center;

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h1 {
        font-family: 'Coda Caption', sans-serif;
        font-size: 300%;
      }

      .horoscope {
        font-size: 500%;
      }
    }

    .content {
      display: flex;
      justify-content: space-around;

      form {
        .signs {
          margin-top: 50px;
          display: flex;
          flex-direction: column;
          align-items: center;

          div {
            margin-left: 5px;
            text-align: left;

            div {
              margin-bottom: 5px;
            }
          }
        }

        .submit-btn {
          margin-top: 50px;
          margin-bottom: 50px;
        }
      }
    }
  }
}

