<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>Emoji Horoscope</title>
 </head>
 <body>
    <header>
      <div class="container">
        <h1>Emoji Horoscope</h1>
        <form method="POST">
          <input type="radio" id="aries" name="sign" value="aries">
          <label for="aries">Aries</label>

          <input type="radio" id="taurus" name="sign" value="taurus">
          <label for="taurus">Taurus</label>

          <input type="radio" id="Gemini" name="sign" value="gemini">
          <label for="gemini">Gemini</label>

          <input type="radio" id="cancer" name="sign" value="cancer">
          <label for="cancer">Cancer</label>

          <input type="radio" id="leo" name="sign" value="leo">
          <label for="leo">Leo</label>

          <input type="radio" id="virgo" name="sign" value="virgo">
          <label for="virgo">Virgo</label>

          <input type="radio" id="libra" name="sign" value="libra">
          <label for="libra">Libra</label>

          <input type="radio" id="scorpio" name="sign" value="scorpio">
          <label for="scorpio">Scorpio</label>

          <input type="radio" id="sagittarius" name="sign" value="sagittarius">
          <label for="sagittarius">Sagittarius</label>

          <input type="radio" id="capricorn" name="sign" value="capricorn">
          <label for="capricorn">Capricorn</label>

          <input type="radio" id="aquarius" name="sign" value="aquarius">
          <label for="aquarius">Aquarius</label>

          <input type="radio" id="pisces" name="sign" value="pisces">
          <label for="pisces">Pisces</label>

            <input type="submit" value="See Horoscope">
        </form>
      </div>
    </header>
    {% block content %}
    {% endblock %}
 </body>
</html>
